body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  text-decoration-line: underline;
  color: #404bbf;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav_list {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-first {
  padding: 24px 0;
}

.nav-menu_reverse {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-second {
  display: flex;
  gap: 40px;
}

.link_address {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link_address:hover,
.link_address:focus {
  color: #404bbf;
}

.logo_class_name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.studio_class_name {
  color: #2e2f42;
}

.class-name_example {
  color: #f4f4fd;
  display: inline-block;
}

.address_class_name {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address_class_name:hover {
  color: #404bbf;
}
.address_class_name:focus {
  color: #404bbf;
}

.hero {
  margin-inline: auto;
  max-width: 1440px;
  padding: 188px 0;
  color: #ffffff;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.button_class_name {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_class_name:hover,
.button_class_name:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section_two {
  padding: 120px 0;
}

.description_list {
  display: flex;
  gap: 24px;
}

.description_list .item {
  width: calc((100% - 3 * 24px) / 4);
}

.icons {
  background: #f4f4fd;
}

.box-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.description_class_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.point_description_name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

img {
  object-fit: cover;
  display: block;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.card_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 72px;
  display: flex;
  margin-left: 480px;
}

.team-list .team_page {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
}

.icon_list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-first {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_link:hover {
  background-color: #404bbf;
}

.icon_link:focus {
  background-color: #404bbf;
}

.pane {
  padding: 32px 0;
}

.hdrthree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.title__members_description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.icon {
  fill: #f4f4fd;
}

.section_four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  padding-left: 0;
  margin: 0;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.thumb {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  overflow: hidden;
  position: relative;
}

.box {
  overflow: hidden;
  position: relative;
}

.o_description {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.portfolio-item:hover .o_description {
  transform: translateY(0%);
}

.portfolio_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio_paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer_last {
  padding: 100px 0;
  background-color: #2e2f42;
}

.logo_footer {
  font-family: "Releway", sans-serif;
  color: #fff;
}

.logo_footer:after {
  color: #404bbf;
}

.link-third {
  font-family: "Releway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  display: inline-block;
  margin-bottom: 16px;
}

.containerf {
  display: flex;
  align-items: baseline;
}

.boxf {
  margin-right: 120px;
}

.footer_text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.socialmedia {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: flex;
  margin-bottom: 16px;
}

.icon_listf {
  display: flex;
  gap: 16px;
  margin-right: 80px;
}

.iconf_link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconf {
  fill: #f4f4fd;
  display: flex;
  gap: 16px;
}

.iconf:hover {
  background-color: #31d0aa;
}

.iconf_link:hover,
.iconf_link:focus {
  background-color: #31d0aa;
}

.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-footer {
  display: flex;
  gap: 24px;
}

.form-labelf {
  gap: 24px;
}

.form-input-emaile {
  border: 1px solid #fff;
  width: 264px;
  height: 40px;
  background-color: transparent;
  line-height: 2;
  letter-spacing: 0.04em;
  font-size: 12px;
  padding-left: 16px;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.bthsub {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.icon-frame {
  fill: #f4f4fd;
  margin-left: 16px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

textarea {
  resize: none;
}

.form-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn-close:hover,
.form-btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn-close:hover > svg,
.form-btn-close:focus > svg {
  fill: #ffffff;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.form {
  flex-direction: column;
  justify-content: space-evenly;
  gap: 12px;
}

.form-group {
  margin-bottom: 8px;
}

.form-group-comment {
  margin-bottom: 16px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.icon-m {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + svg {
  fill: #4d5ae5;
}

.form-input-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.form-input-comment:focus {
  border-color: #4d5ae5;
}

.form-accept-group {
  margin-bottom: 24px;
}

.form-accept-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-checkbox:checked + .form-accept-label .form-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.form-terms-link {
  color: #4d5ae5;
}

.form-submit {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  display: block;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
